<div>
  <table>
    <tr>
      <td>
        primary
      </td>
      <td>
        Social
      </td>
      <td>
        Promotions
      </td>
      <td>
        Updates
      </td>
      <td>
        Forums
      </td>
    </tr>
    <tr>
      <td style="text-align:left; background-color: white; border: none" colspan="2">
        <input type="checkbox" name="checkbox" value="checkbox">
        <input type="image" src="http://C:/Users/Bhanu/Desktop/index.jpg" name="image">
      </td>
      <td style="text-align:left; background-color: white; border: none" colspan="3">
        <p>
          Your Google Account was just signed in to from a new Windows device. You're getting this email to make sure it was you.
        </p>
      </td>
    </tr>
    <tr>
        <td style="text-align:left; background-color: white; border: none" colspan="2">
          <input type="checkbox" name="checkbox" value="checkbox">
          <input type="image" src="http://C:/Users/Bhanu/Desktop/index.jpg" name="image">
        </td>
        <td style="text-align:left; background-color: white; border: none" colspan="3">
          <p>
            Your Google Account was just signed in to from a new Windows device. You're getting this email to make sure it was you.
          </p>
        </td>
      </tr>
      <tr>
          <td style="text-align:left; background-color: white; border: none" colspan="2">
            <input type="checkbox" name="checkbox" value="checkbox">
            <input type="image" src="http:F:angulartest/SampleAngularCliDemo/TestApp/src/index.jpg" name="image">
            srstravels@redbus.in	
          </td>
          <td style="text-align:left; background-color: white; border: none" colspan="3">
            <p>
              Your Google Account was just signed in to from a new Windows device. You're getting this email to make sure it was you.
            </p>
          </td>
        </tr>
        <tr>
            <td style="text-align:left; background-color: white; border: none" colspan="2">
              <input type="checkbox" name="checkbox" value="checkbox">
              <input type="image" src="http://C:/Users/Bhanu/Desktop/index.jpg" name="image">
            </td>
            <td style="text-align:left; background-color: white; border: none" colspan="3">
              <p>
 	

                  GoodDay takes into account every work interaction and automatically generates detailed reports on progress, accomplishments, collaboration quality and agility, eliminating the need for manual reporting. Start with a set of out-of-the-box personal, project, department and organization-level reports, then customize them to show the data you need for any date range, and schedule for delivery to anyone on your team.               </p>
            </td>
          </tr>
          <tr>
              <td style="text-align:left; background-color: white; border: none" colspan="2">
                <input type="checkbox" name="checkbox" value="checkbox">
                <input type="image" src="http://C:/Users/Bhanu/Desktop/index.jpg" name="image">
              </td>
              <td style="text-align:left; background-color: white; border: none" colspan="3">
                <p>
                  Your Google Account was just signed in to from a new Windows device. You're getting this email to make sure it was you.
                </p>
              </td>
            </tr>
            <tr>
                <td style="text-align:left; background-color: white; border: none" colspan="2">
                  <input type="checkbox" name="checkbox" value="checkbox">
                  <input type="image" src="http://C:/Users/Bhanu/Desktop/index.jpg" name="image">
                </td>
                <td style="text-align:left; background-color: white; border: none" colspan="3">
                  <p>
                    Your Google Account was just signed in to from a new Windows device. You're getting this email to make sure it was you.
                  </p>
                </td>
              </tr>
              <tr>
                  <td style="text-align:left; background-color: white; border: none" colspan="2">
                    <input type="checkbox" name="checkbox" value="checkbox">
                    <input type="image" src="http://C:/Users/Bhanu/Desktop/index.jpg" name="image">
                  </td>
                  <td style="text-align:left; background-color: white; border: none" colspan="3">
                    <p>
                      Your Google Account was just signed in to from a new Windows device. You're getting this email to make sure it was you.
                    </p>
                  </td>
                </tr>
            
  </table>
</div>