
div{
    width: 100%;
    height:200px;
 min-height: 350px;
    text-align: left;
    background-color:pink ;
    color:white;
    background: url(F:\angulartest\SampleAngularCliDemo\TestApp\src\photo-1532128519277-07cb90250ef0.jpg);
    
}


