<div>
  <table>
    <tr>
      <td>
   <h2>RESPONSIVE LAYOUT</h2>
   <p>Powerful Layout with Responsive <br>
      functionality that can be adapted to any <br>
       screen size. Resize browser to view.</p>
      </td>
   <td>
   <h2>RETINA READY GRAPHICS</h2>
   <p>Looks beautiful & ultra-sharp on Retina <br>
     Screen Displays. Retina Icons, Fonts & all <br>
     others graphics are optimized.</p>
   </td>
   <td>
      <h2>POWERFUL PERFORMENCE</h2>
      <p>Yora includes tons of optimized code that <br>
         are completely customizable and deliver <br>
          unmatched fast performance.</p>
   </td>
  </tr>
  <tr>
     <td>
       <h2>PREMIUM SLIDERS INCLUDED</h2>
       <p>Yora included 20+ custom designed Slider <br>
          Pages with Premium Sliders like Layer, <br>
           Revolution, Swiper & others.</p>
     </td>
     <td>
        <h2>UNLIMITED COLOR OPTIONS</h2>
        <p>Change the color scheme of the Theme in a <br>
          flash just by changing the 6-digit HEX code <br>
          in the colors.php file.</p>
      </td>
      <td>
          <h2>CUSTOMIZABLE FONTS</h2>
          <p>Use any Font you like from Google Web <br>
             Fonts, Typekit or other Web Fonts. They will <br>
              blend in perfectly.</p>
        </td>
      </tr>  
  </table>





