
div{
    width: 80%;
    height:100px;
    min-height: 100px;
    text-align: center;
    background-color:palevioletred ;
    color:white;
    background: url(F:\angulartest\SampleAngularCliDemo\TestApp\src\photo-1532128519277-07cb90250ef0.jpg);
    
}


