<html>
      
<div>
    
  <table>
    <tr>
      <td>
      <h2>WHAT WE DO </h2>
     <p>WEB PORTAL DEVELOPMENT</p>
     <p>RESPONSIVE WEB DESIGNING</p>
     <p>WEB HOSTING AND DOMAIN</p>
      <p>WEB SERVICES</p>
      </td>

    <td>
    <h2>RECENT POSTS</h2>
        <p>DIGITAL MARKETING</p>
       <p> MOBILE APPS DEVELOPMENT</p>
        <p>CONTENT WRITING</p>
        <p>CORPORATE TRAINING</p>
    </td>

   <td>
    <h2>CONNECT WITH YORA</h2>
    <i class="fa fa-facebook-official" aria-hidden="true"></i>
      <p>Contact Us</p>
       <p>Disclaimer</p>
       <p>Privacy Policy<br><br><br></p>
   </td>

  </tr> 
  </table>
  
</div>
</html>

