<div id="right" class="col-sm-3"> 
  <div class="col-sm-2">
    <img src="../assets/images/7.png" width="200px" height="100px" />
  </div>
  <div class="col-sm-2">
    <img src="../assets/images/8.png" width="200px" height="100px" />
  </div>
  <div class="col-sm-2">
    <img src="../assets/images/9.png" width="200px" height="100px" />
  </div>
  <div class="col-sm-2">
    <img src="../assets/images/10.png" width="200px" height="100px" />
  </div>
  <div class="col-sm-2">
    <img src="../assets/images/11.png" width="200px" height="100px" />
  </div>
  <div class="col-sm-2">
    <img src="../assets/images/12.png" width="200px" height="100px" />
  </div>
</div>