#r{
    height:300px;
    text-align: center;
    background-color: rgb(162, 181, 238);
    color:white;
    font-size: 20px;
    }
    #l{
        height:300px;
        background-color:white;        
        }
   